.SkinCare {
  margin-top: 60px;

  .headerContainer {
    height: 320px;
    width: 100vw;
    background-image: url("https://www.laneige.com/kr/ko/skincare/__icsFiles/metafile/2019/11/26/skincare-header-bg-lg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 39px;
      font-weight: thin;
    }
  }
  .topBox {
    position: absolute;
    display: flex;
    top: 80px;
    left: 40px;

    p {
      font-size: 13.5px;
      color: rgb(59, 59, 59);
      font-weight: normal;
      &:nth-of-type(2) {
        padding-left: 10px;
      }
    }
  }
  .filterCategoryWrapper {
    display: flex;
    margin-left: 350px;
    margin-top: 50px;

    .categoryBox {
      display: flex;
      margin-left: 5px;
      border: 1px solid rgb(214, 214, 214);
      width: 180px;
      height: 47px;

      .letterCategory {
        padding: 13px 16px;
        color: rgb(61, 60, 60);
        font-size: 15px;
      }

      .openCategory1 {
        padding-left: 51px;
        padding-top: 10px;
        font-size: 25px;
        color: rgb(71, 71, 71);
      }

      .openCategory2 {
        padding-left: 67px;
        padding-top: 10px;
        font-size: 17px;
        font-weight: bold;
        color: rgb(71, 71, 71);
      }
    }
  }
  .numberOfProducts {
    position: absolute;
    top: 440px;
    right: 200px;
    color: rgb(141, 140, 140);
    font-size: 10 px;
  }
  .mainContentsWhole {
    height: 100%;
    border: orange solid 3px;
    .subBox {
      // padding: 0px 0px 120px;
      border: green solid 1px;
      display: flex;
      justify-content: center;
      .productBox {
        width: 280px;
        height: 414px;
        border: red solid 1px;
        text-align: center;
        img {
          width: 280px;
          height: 336px;
        }
        p {
          color: rgb(175, 173, 173);
          font-size: 14px;
        }
        h1 {
          color: rgb(51, 51, 51);
          font-size: 17px;
        }
      }
    }
  }
}
