.bgBestseller_MJ {
  height: 460px;
  overflow: hidden;
  .bgVideo {
    width: 1920px;
    height: 1080px;
  }
}

.MainSlider_MJ {
  position: relative;
  display: flex;
  justify-content: center;
  height: 350px;
  .BestSellerTitle {
    position: absolute;
    top: -300px;
    z-index: 100;
    font-size: 42px;
    font-weight: bold;
  }
  .listPhoto {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    .PhotoListOne {
      display: block;
      .imageOne {
        position: relative;
        top: -200px;
        width: 250px;
        height: 300px;
        margin: 0%;
        overflow: hidden;
        border: 0;
        outline: 0;
        transform: rotate(0deg);
        transition: 1s;

        &:hover {
          transform: rotate(-25deg);
        }
      }
    }
    .imageTwo {
      position: relative;
      top: -200px;
      width: 250px;
      height: 300px;
      margin: 0%;
      overflow: hidden;
      border: 0;
      outline: 0;
      transform: rotate(0deg);
      transition: 1s;

      &:hover {
        transform: rotate(-25deg);
      }
    }
    .imageThree {
      position: relative;
      top: -200px;
      width: 250px;
      height: 300px;
      margin: 0%;
      overflow: hidden;
      border: 0;
      outline: 0;
      transform: rotate(0deg);
      transition: 1s;

      &:hover {
        transform: rotate(-25deg);
      }
    }
  }
}
