.Homme {
  margin-top: 60px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  .topImage {
    position: relative;
  }
  h1,
  p {
    // position: absolute;
    // top: 500px;
    // left: 400px;
    // justify-content: center;
    // font-size: 90px;
    color: red;
  }
>>>>>>> ee1601b... [Function] 제품목록 페이지에서 상품수 자동계산 기능 및  mock data 연동 완료.
=======
>>>>>>> b6b6eb7... [Fix] 불요 주석 제거, 클래스명 변경
}
